//TODO we souldnot need this sheat
@include utilsGenerator((
  classes: (
    heightMax: (max-height),
    heightMin: (min-height),
    height: (height)
  ),
  values: (
    0:0,
    a:auto,
    full: 100%,
    vFull: 100vh,
    150: rem(150),
    300: rem(300),
  ),
  responsive:true
));
@include utilsGenerator((
  classes: (
    widthMax: (max-width),
    widthMin: (min-width),
    width: (width)
  ),
  values: (
    full: 100%,
    60: rem(60),
    100: rem(100),
    200: rem(200),
    250: rem(250),
    350: rem(350),
  ),
  responsive:true
));


@include size-generator((flex-basis), ".u-size","", grid(columns), grid(sizeSeperator));
@include size-generator((width), ".u-width","", grid(columns), grid(sizeSeperator));
@include size-generator((margin-left), ".u-push","", grid(columns), grid(sizeSeperator));
@include size-generator((margin-right), ".u-pull","", grid(columns), grid(sizeSeperator));

@each $brake in breakpoint-keys() {
  @include media-min($brake) {
    @include size-generator((flex-basis), ".u-size", "\\\@#{$brake}", grid(columns), grid(sizeSeperator));
    @include size-generator((width), ".u-width", "\\\@#{$brake}", grid(columns), grid(sizeSeperator));
    @include size-generator((margin-left), ".u-push", "\\\@#{$brake}", grid(columns), grid(sizeSeperator));
    @include size-generator((margin-right), ".u-pull", "\\\@#{$brake}", grid(columns), grid(sizeSeperator));
    .u-push0\@#{$brake} {
      margin-left: 0 !important;
    }
    .u-pull0\@#{$brake} {
      margin-right: 0 !important;
    }
  }
}
